body{
    position: relative;
    background-color: #E3DAB8;
    font-family: Arial, Helvetica, sans-serif;
}


.banner {
    display: flex;
    align-items: center;
}

#logo_blanco {
    width: 100px;
    margin-left: 20px;
    margin-right: 10px;
}

.titulo {
    margin: 0;
    font-size: 40px; /* Especifica la unidad */
    color: white;
}

header {
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 50;
    background-color: #416DF8;
}

.header-container {
    display: flex;
    
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #416DF8;
    width: 150vh;
    margin-right: 100px;
}

.item {
    margin-left: 20px;
}

.menu {
    color: #fff;
    text-decoration: none;
}

.active{
    color: #00DC14;
}

.información_nosotros{
    margin-top: 150px;
    margin-left: 2vh;
}


.pregunta{
    font-size: 48;
    margin-bottom: 20;
}

.información_general{
    font-size: 24;
    padding: 0px 50px 0px 0px;
    display: block;
    margin-bottom: 20px;
}

.imagenes {
    display: flex;
    gap: 40px; 
    height: 1%;
}

::-webkit-scrollbar {display: none;}


.red1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#instagram {
    width: 50px;
    margin-right: 10px;
}

.nombre_red {
    margin: 0;
    font-size: 24;
}
.red2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#facebook {
    width: 50px;
    margin-right: 10px;
}

.red3 {
    display: flex;
    align-items: center;
}

#mail {
    width: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.talleres, .social{
    margin-left: 2vh;
}

footer{
   
    color: #000000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px -2px 5px #b1b0b0;
}

.texto_pie{
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.row{
    background-color: #416DF8;
    position: relative;
    width: 100%;
}