<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Gata y la Luna</title>
    <link rel="icon" type="image/x-icon" href="Imagenes/logo_oficial.png">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
    

    <header >

        <div class="header-container" >

            <div class="banner">
            <img src="../static/images/logo_blanco.png" id="logo_blanco" alt="logo">   
                <h1 class="titulo">La gata y la Luna</h1>
            </div> 
        
            <nav>
                <div class="item"><h2><a id="indexLink" class="menu" href="index.html" >Home</a></h2></div>
                <div class="item"><h2><a id="catalogoLink" class="menu" href="Catalogo.html" >Catalogo</a></h2></div>
                <div class="item"><h2><a id="nosotrosLink" class="menu" href="nosotros.html" >Nosotros</a></h2></div>
                <div class="item"><h2><a id="FQLink" class="menu" href="FQ.html" >FAQ</a></h2></div>
                <div class="item"><h2><a id="datosLink" class="menu" href="datos.html">Datos</a></h2></div>
            </nav>

            <script src="static\js\menu.js"></script> 

        </div>
        
    </header>
        <main>
            
            <section class="mas_vendidos"> 
                <h3>Los mas vendidos</h3>
                <div class="container_libros_vendidos">
                    <div class="item2">
                        <img class="libro" src="../static/images/libro1.jpg" alt="La Asistenta">
                        <p class="epigrafe">La Asistenta</p>
                    </div>
                    <div class="item2">
                        <img class="libro" src="../static/images/wigetta.jpg" alt="Universo Wigetta 1">
                        <p class="epigrafe">Universo Wigetta</p>
                    </div>
                    <div class="item2">
                        <img class="libro" src="../static/images/Cancion_de_aquiles.webp" alt="La Cancion de Aquiles">
                        <p class="epigrafe">Cancion de Aquiles</p>
                    </div>
                    
                    <div class="item2"><img class="libro" src="../static/images/SigMan.jpg" alt="Artificial">
                        <p class="epigrafe">Artificial</p>
                    </div>
                
                </div>
            </section>
            
            <section class="atemporales">
                <h3>Clasicos de todos los tiempos </h3>
                <div class="container_libros_atemporales">
                    <div class="item2"><img class="libro" src="../static/images/Principito.jpg" alt="El Principito">
                        <p class="epigrafe">La chica del tren</p>
                    </div>
                    <div class="item2"><img class="libro" src="../static/images/RomeoYJulieta.jpg" alt="Romeo y Julieta">
                        <p class="epigrafe">Romeo y Julieta</p>
                    </div>
                    <div class="item2"><img class="libro" src="../static/images/crepusculo.webp" alt="Crepusculo">
                        <p class="epigrafe">Crepusculo</p>
                    </div>
                    <div class="item2"><img class="libro" src="../static/images/martin_fierro.webp" alt="Martin Fierro">
                        <p class="epigrafe">Martin Fierro</p>
                    </div>
                </div>
            
            </section>

            <section class="recomendados">
                <h3>Recomendados</h3>
                <div class="container_libros_recomendados">
                    <div class="item2"><img class="libro" src="../static/images/la_chica_del_tren.webp" alt="La chica del tren">
                        <p class="epigrafe">La Chica del Tren</p>
                    </div>
                    <div class="item2"> <img class="libro" src="../static/images/la_tempestad.webp" alt="La tempestad">
                        <p class="epigrafe">La tempestad</p>
                    </div>
                    <div class="item2"><img class="libro" src="../static/images/bozondehiggs.jpg" alt="El bozon de higgs no te va a hacer la cama">
                        <p class="epigrafe">El Bozon de Higgs <br> no te va a hacer la cama</p>
                    </div>
                    <div class="item2"><img class="libro" src="../static/images/Programacion_para_libros.jpg" alt="Programacion para niños">
                        <p class="epigrafe">Programacion para Niños</p>
                    </div>
                </div>
            </section>
            <div class="row">
                <footer>
                
                    <p class="texto_pie"> La Gata y la Luna | © 2013-2024 | Buenos Aires, Argentina</p>
                    <p class="texto_pie"> Todos los derechos reservados. </p>
                </footer>
            </div>
        </main>

        
</body>
</html>