<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - La Gata y la Luna</title>
    <link rel="icon" type="image/x-icon" href="Imagenes/logo_oficial.png">
    <link rel="stylesheet" href="style_nosotros.css">
    
</head>
<body>
    <header>

        <div class="header-container">

            <div class="banner">
                <img src="Imagenes/logo_blanco.png" id="logo_blanco" alt="logo"> 
                <h1 class="titulo">La gata y la Luna</h1>
            </div> 
        
            <nav>
                <div class="item"><h2><a id="indexLink" class="menu" href="index.html" >Home</a></h2></div>
                <div class="item"><h2><a id="catalogoLink" class="menu" href="Catalogo.html" >Catalogo</a></h2></div>
                <div class="item"><h2><a id="nosotrosLink" class="menu" href="nosotros.html" >Nosotros</a></h2></div>
                <div class="item"><h2><a id="FQLink" class="menu" href="FQ.html" >FAQ</a></h2></div>
            </nav>

            <script src="menu.js"></script> 

        </div>
        
    </header>


    <main>
        <section class="información_nosotros">
            <p class="pregunta">Información General </p>
            <p class="información_general">
                "La Gata y la Luna" abrió a principios de octubre del 2013 tras meses de trabajo de Santiago Martínez y Verónica Catinari. Ya lleva más de 10 años de venta de libros en los que también hubieron talleres y se gestionaron diversas actividades culturales, con el fin de promover la lectura en personas de todas las edades.
            </p>
            <p class="información_general">
                Esta librería no solo ofrece una vasta colección de títulos que abarcan todos los géneros y disciplinas, sino que también se ha convertido en un punto de encuentro para la comunidad. Aquí, autores locales presentan sus obras, se realizan talleres de escritura creativa y se llevan a cabo lecturas públicas que fomentan el amor por la literatura.
            </p>
            <p class="información_general">
                El personal de "La Gata y la Luna" está compuesto por apasionados lectores y conocedores del mundo editorial, siempre dispuestos a ofrecer una recomendación personalizada o a compartir una charla sobre el último best-seller o aquella joya literaria que puede haber pasado desapercibida.
            </p>
            <p class="información_general">
                En "La Gata y la Luna", se entiende que un libro es más que un simple objeto; es una puerta a otros mundos, un espejo en el que reflejarnos, una fuente inagotable de aprendizaje y entretenimiento. La librería se ha esforzado por crear un espacio inclusivo y accesible, donde todos se sientan bienvenidos y valorados, independientemente de sus intereses o nivel de conocimiento literario.
            </p>
                

        </section>
        <section class="talleres">
            <p class="pregunta">
                Talleres y Eventos
            </p>
            <div class="imagenes">
                <img class="fig" src="Imagenes/taller1.jpg" alt="taller1">
                <img class="fig" src="Imagenes/taller2.jpg" alt="taller2"> 
                <img class="fig" src="Imagenes/taller3.jpg" alt="taller3">
                <img class="fig" src="Imagenes/taller4.jpg" alt="taller4">
            </div>
        </section>

        <section class="social">
            <p class="pregunta">Redes Sociales</p>
            <div class="red1">
                <a href="https://www.instagram.com/lagataylaluna?igsh=bTdjOW1lcG14ODVr"><img src="Imagenes/instagram-logo.png" id="instagram" alt="instagram"></a>
                <p class="nombre_red">@lagataylaluna</p>
            </div>

            <div class="red2">
                <a href="https://www.facebook.com/lagataylaluna"><img src="Imagenes/facebook-logo.png" id="facebook" alt="Facebook"></a>
                <p class="nombre_red">La gata y la luna </p>
            </div>

            <div class="red3">
                <a href="mailto:lagataylalunalibros@gmail.com?subject=Consulta%20sobre%20productos&body=Hola,%20quisiera%20más%20información%20sobre%20sus%20productos."><img src="Imagenes/mail.png" id="mail" alt="mail"></a>
                <p class="nombre_red">lagataylalunalibros@gmail.com </p>
            </div>

        </section>

        <section class="row">
            <footer>
                <p class="texto_pie"> La Gata y la Luna | © 2013-2024 | Buenos Aires, Argentina</p>
                <p class="texto_pie"> Todos los derechos reservados. </p>
            </footer>
        </section>

    </main>

</body>