<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

        <div class="header-container">

            <div class="banner">
                <img src="static\images\logo_blanco.png" id="logo_blanco" alt="logo"> 
                <h1 class="titulo">La gata y la Luna</h1>
            </div> 
        
            <nav>
                <div class="item"><h2><a id="indexLink" class="menu" href="index.html" >Home</a></h2></div>
                <div class="item"><h2><a id="catalogoLink" class="menu" href="Catalogo.html" >Catalogo</a></h2></div>
                <div class="item"><h2><a id="nosotrosLink" class="menu" href="nosotros.html" >Nosotros</a></h2></div>
                <div class="item"><h2><a id="FQLink" class="menu" href="FQ.html" >FAQ</a></h2></div>
                <div class="item"><h2><a id="pruebaLink" class="menu" href="prueba.html" >prueba</a></h2></div>
            </nav>

            <script src="static\js\menu.js"></script> 

        </div>
        
    </header>
</body>
</html>